body{
  background-image: url(/src/images/office.jpg);
  font-family: 'Neuton', serif;
  background-repeat: no-repeat;
  background-size: cover;
}
h1{
  font-size: 5rem;
  align-self: center;
  font-family: 'Eczar', serif;
}
.App {
  text-align: center;
  display: flex;
  flex-direction: row;
  width: max-content;
  background-color:whitesmoke;
  background-image: url(/src/images/office.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}
.input_section{
  opacity: 0.95;
  padding-left: 1%;
   border: 4px solid black;
  background-color: whitesmoke;
  width: auto;
  align-self: center;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
hr{
  width: 50%;
  align-self: center;
}
.education_form{
  display: flex;
  flex-direction: column;
   width: fit-content;
   align-items: flex-start;
}
.cv_section{
  display: grid;
  margin-left: 15%;
  border: 4px solid black;
  border-radius: 1px;
  width: 70vw;
  height:auto;
  opacity: 0.96;
  text-align: left;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(3, 1fr);
  background-color: whitesmoke;
  overflow:scroll;
}
.general_section{
  padding-left: 5%;
  grid-area: 1 / 1 / span 1 / span 4;
  margin-top: 5%;
  display: flex;
  flex-direction: column ;
  /* align-items: center; */
}
.general_name{
 align-self: center;
  font-size: 2rem;
}
.name_hr{
  width: 100%;
}
.education_section_header{
  grid-area: 2 / 1 / span 1 / span 4;   
  display: flex;
  padding-left: 5%;
  flex-direction: row;   
  gap: 35%;
}
.work_section_header{
  grid-area: 3 / 1 / span 1 / span 4;  
  display: flex;
  padding-left: 5%;
  flex-direction: row;   
  gap: 28%;
}
.education_section_content, .work_section_content{
display: flex;
flex-direction: column;
}
@media screen and (max-width: 1024px) {
body{
  display: flex;
  flex-direction: column;
  align-items: center;
}
  .App{
  align-self: center;
  /* border-radius: 15px; */
  border: 3px black solid;
  /* border-right: none; */
  opacity: 0.95;
  flex-direction: column;
  width: 80vw;
  background-image: none;
}
.cv_section{
  align-self:center;
  padding: 0;
  margin: 0;
  border: 2px solid black;
  /* border-radius: 10px; */
  /* border-right: none; */
  background-color: white;
}
.input_section{
  width: 80vw;
  align-items: center;  
}

.education_section_header{
  gap: 33%;
}
}